[user]
  name = Raphael Huefner
  email = raphaelhuefner@gmail.com
;  append "!" to LONG keyid to force GPG to use a specific subkey
;  signingkey = 0123456789ABCDEF!
[color]
  ui = true
[alias]
  lola = log --graph --decorate --oneline --all
  ciff  = diff --word-diff=color --word-diff-regex='[0-9a-zA-Z_]+'
; wdiff = diff --word-diff=color --word-diff-regex='[0-9a-zA-Z_]+'
; wdiff = diff --word-diff=color --word-diff-regex='([0-9a-zA-Z_]|[^[:space:]])+'
  wdiff = diff --word-diff=color --word-diff-regex=.
  yes = add
  no = checkout --
  nono = reset HEAD
[merge]
  conflictstyle = diff3
[branch]
;  autosetuprebase = always
[core]
  editor = /usr/bin/vim
  excludesfile = ~/.gitglobalignore
  ; @see https://drunkenmonkey.at/blog/diffs_with_proper_function_context
  attributesFile = ~/.gitglobalattributes
[init]
  defaultBranch = main
[rerere]
  enabled = true
  autoupdate = true
[push]
  default = simple
[status]
  submoduleSummary = true
[commit]
;  gpgSign = true
  gpgSign = false
[tag]
;  gpgSign = true
  gpgSign = false
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[pull]
  ff = only
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

; KEEP THESE AT THE END OF THE FILE
; ... so that they have an actual chance to overwrite the "default" values above.
[includeIf "gitdir:~/**/"]
  path = ~/.gitconfig-professional
[includeIf "gitdir:~/projects/personal/**/"]
  path = ~/.gitconfig-personal

