[user]
  name = Raphael Huefner
  email = raphael@affinitybridge.com
[color]
  ui = true
[alias]
  lol = log --graph --decorate --oneline
  lola = log --graph --decorate --oneline --all
  ciff = diff --word-diff=color --word-diff-regex='[0-9a-zA-Z_]+'
  yes = add
  no = checkout --
  lila = log --graph --all --pretty=tformat:'%C(yellow)%h %ai%Creset %C(red)%d%Creset %C(green)%an%Creset %s' --date=local
[merge]
  conflictstyle = diff3
[branch]
;  autosetuprebase = always
[core]
  editor = /usr/bin/vim
  excludesfile = ~/.gitglobalignore
[rerere]
  enabled = true
[push]
  default = simple
